.a1{
    color: ghostwhite;
    background-color: cadetblue;
}
.a2{
    color: lightseagreen;
    text-decoration: none;
}
.img{
    margin-left: 400px;
    width: 400px ;
}
.lab{
    color: lightseagreen;
}
.lab1{
    color: black;
    margin-left: 50px;
    height: 60px;
}
.a4{
    color: black;
    background-color: darkorange;
}